@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  line-height: 150%;
}
body {
  background-color: #b3e2a7;
  height: 100%;
}

.logo__alura {
  width: 120px;
  height: 48px;
  margin: 2.5rem 0rem 0rem 2.5rem;
}
main {
  display: flex;
  justify-content: space-between;
  margin: 5rem 5rem 4.5rem 13rem;
}

.input_area {
  display: flex;
  width: 70%;
  /* justify-content: space-between; */
  flex-direction: column;
}

.input-text {
  color: #0a3871;
  font-size: 2.25rem;
  font-family: "Krona One", sans-serif;
  font-weight: 600;
  line-height: 150%;
  background-color: #fff;
  border-radius: 32px;
  height: 70vh;
  border: none;
  resize: none;
}

.input-text::placeholder {
  color: #0a3871;
  margim: 8px 0px opx 015px;
}

.main_alert_span {
  display: flex;
  gap: 0.5rem;
}

span {
  color: #000;
  font-size: 14px;
  font-family: "inter", sans-serif;
  font-weight: 500;
}

.main__div__button {
  display: flex;
  gap: 24px;
}
.button {
  width: 328px;
  padding: 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--main-blue-color);
  font-weight: 400;
}

.button:hover {
  transition: 1s;
  opacity: 0.8;
}

.button:active {
  opacity: 0.9;
}

#btn-codificar {
  background-color: #0a3871;
  color: #fff;
}

#btn-decodificar {
  background-color: #d8dfe8;
  color: #0a3871;
}

#btn-decodificar:hover {
  background-color: #7b68ee;
  color: #fff;
}

.main__container__message {
  width: 400px;
  height: 944px;
  background-color: #fff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}
h2 {
  width: 280px;
  height: 58px;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  text-align: center;
  margin-left: auto;
  margin-rigth: auto;
}

.texto_message {
  width: 280px;
  height: 48px;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-rigth: auto;
}

.decodificador__texto {
  font-family: Inter;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: left;
}
.painel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  width: 400px;
  height: 830px;
  margin-top: 40px;
  margin-left: 750px;
  gap: 40px;
  border-radius: 32px;
}
.painel__imagem {
  width: 336px;
  height: 304px;
}
.painel__textos {
  align-items: center;
  width: 336px;
  height: 122px;
  opacity: 0px;
}
.painel__texto__titulo {
  width: 280px;
  height: 58px;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem;
  text-align: center;
  margin-left: auto;
  margin-rigth: auto;
}
.painel__texto__paragrafo {
  width: 280px;
  height: 48px;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
  margin-left: auto;
  margin-rigth: auto;
}
.icone__mensagem {
  align-items: center;
  justify-content: center;
}
.botao__ancora {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 0 0 90px 0; //!TODO:Olhar esse ponto
}
